video {
  z-index: 3;
}

.wsactive {
  font-size: 48px;
}

.pysactive {
  font-size: 28px;
}

.wordspan {
  font-size: 32px;
}

.pinyinspan {
  font-size: 18px;
}

#videoMask {
  z-index: 2;
}

#translationTriangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #007bff transparent;
}

#translation {
  border-style: solid;
  //border-width: 3px 0px 0px 0px;
  //border-color: #007bff transparent transparent transparent;
  font-size: 18px;
  border-width: 0px 0px 0px 0px;
  border-color: transparent transparent transparent transparent;
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


.translateButton {
  cursor: hand;
  cursor: pointer;
  //-moz-border-radius: 10px;
  //-webkit-border-radius: 10px;
  //-khtml-border-radius: 10px;
  //border-radius: 10px;
  //background-color: #22eeff;
}


.pinyinspan {
  cursor: hand;
  cursor: pointer;
}

.wordspan {
  cursor: hand;
  cursor: pointer;
}

.whitespacespan {
  cursor: hand;
  cursor: pointer;
}

.spacingPYS {
  cursor: hand;
  cursor: pointer;
}

.spacingWS {
  cursor: hand;
  cursor: pointer;
}

