#translationTriangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #007bff transparent;
}

#translation {
  border-style: solid;
  //border-width: 3px 0px 0px 0px;
  //border-color: #007bff transparent transparent transparent;
  font-size: 18px;
  border-width: 0px 0px 0px 0px;
  border-color: transparent transparent transparent transparent;
}

.pinyinspan {
  cursor: hand;
  cursor: pointer;
}

.wordspan {
  cursor: hand;
  cursor: pointer;
}

.spacingPYS {
  cursor: hand;
  cursor: pointer;
}

.spacingWS {
  cursor: hand;
  cursor: pointer;
}